<h1>Edit Your Profile</h1>

<form action="/authentication/profile-edit" method='POST'>

<div class="form-group">
<label for="text">Name: </label>
<input type="text" name='name'>
</div>

<div class="form-group"></div>
<label for="username">Updated Email: </label>
<input type="email" name='username'>
</div>

<button>Update</button>
</form>