<h1>Profile Page</h1>
<p><strong>Hello</strong>  {{user.name}}</p>
<p><strong>Your email is:</strong> {{user.username}}</p>
<p><strong>Your userID is:</strong>  {{user._id}}</p>

<a href="/authentication/profile-edit"><button>Edit Profile</button></a>

